@import "tailwindcss";

@font-face {
    font-family: 'Fitree';
    src: url('/fonts/Figtree.ttf');
}

@font-face {
    font-family: 'Geist Mono';
    src: url('/fonts/GeistMono.ttf');
}

@theme {
    --font-sans: "Fitree", sans-serif;
    --font-mono: "Geist Mono", monospace;
    --text-base: .93rem;

    --animate-bg-shine: bg-shine 2s linear infinite;

    @keyframes bg-shine {
        from { background-position: 0 0; }
        to { background-position: -200% 0; }
    }
}