@import "tailwindcss";

@font-face {
    font-family: 'Onest';
    src: url('/fonts/Onest.ttf');
}

@font-face {
    font-family: 'Geist Mono';
    src: url('/fonts/GeistMono.ttf');
}

@theme {
    --font-sans: "Onest", sans-serif;
    --font-mono: "Geist Mono", monospace;
    --text-base: .93rem;
}

* {
    color-scheme: dark;
    scrollbar-width: thin !important;
}