---
import type { Link } from "../types";

interface Extra {
    className?: string
}

type Props = Extra & Link
const { title, url, className } = Astro.props as Props;
---

<a href={url} class:list={["group font-medium text-nowrap transition duration-200 hover:text-white", className]} target="_blank">{title}</a>